adobereader -params '"/OverwriteInstallation /UpdateMode:4'
googlechrome
chocolatey-core.exe
firefox --params "/l:en-GB /NoDesktopShortcut /RemoveDistributionDir /NoStartMenuShortcut /NoMaintenanceService"
zoom
vlc
7zip
notepadplusplus
git
googledrive
sysinternals
vscode --params "/NoDesktopIcon /NoQuicklaunchFiles"
pdfcreator --ia '"/NOICONS /TASKS=!winexplorer"'
winlogbeat
curl
spotify
putty
winscp
zoom-outlook
gsuite-sync-outlook
wireshark
powertoys
azure-cli
advanced-ip-scanner
brave
procexp
onedrive
autohotkey
procmon
vnc-viewer
rufus
fiddler
speedtest --params "/StartMenuShortcut"
nmap
obs-studio
pwsh
obsidian
nerdfont-hack
starship
pdfsam
