<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adobereader"
	packageParameters="/OverwriteInstallation /UpdateMode:4"
	/>
	<package id="googlechrome"/>
	<package id="firefox"
	packageParameters="/l:en-GB /NoDesktopShortcut /RemoveDistributionDir /NoStartMenuShortcut /NoMaintenanceService"
	/>
	<package id="zoom"/>
	<package id="zoom-outlook"/>
	<package id="vlc"/>
	<package id="7zip"/>
	<package id="notepadplusplus"/>
	<package id="git"/>
	<package id="googledrive"/>
	<package id="sysinternals"/>
	<package id="vscode"
	packageParameters="/NoDesktopIcon /NoQuicklaunchFiles"
	/>
	<package id="pdfcreator"
	installArguments="/NOICONS /TASKS=!winexplorer"
	/>
	<package id="winlogbeat"/>
	<package id="curl"/>
	<package id="spotify"/>
	<package id="putty"/>
	<package id="winscp"/>
	<package id="gsuite-new-tab-chrome"/>
	<package id="google-workspace-sync"/>
	<package id="wireshark"/>
	<package id="powertoys"/>
	<package id="azure-cli"/>
	<package id="advanced-ip-scanner"/>
	<package id="brave"/>
	<package id="procexp"/>
	<package id="onedrive"/>
	<package id="autohotkey"/>
	<package id="procmon"/>
	<package id="vnc-viewer"/>
	<package id="rufus"/>
	<package id="fiddler"/>
	<package id="speedtest"
	packageParameters="/StartMenuShortcut"
	/>
	<package id="nmap"/>
	<package id="obs-studio"/>
	<package id="obsidian"/>
	<package id="nerdfont-hack"/>
	<package id="starship"/>
	<package id="pdfsam"/>
	<package id="neovim"/>
	<package id="p4merge"/>
</packages>
