 <?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adobereader"/>
	<package id="googlechrome"/>
	<package id="firefox" parameters="/NoTaskbarShortcut /NoDesktopShortcut /RemoveDistributionDir"/>
	<package id="python3"/>
	<package id="7zip"/>
	<package id="vlc"/>
	<package id="notepadplusplus"/>
	<package id="git"/>
	<package id="vscode"/>
	<package id="putty"/>
	<package id="pdfcreator"/>
	<package id="spotify"/>
	<package id="winscp"/>
	<package id="wireshark"/>
	<package id="nmap"/>
	<package id="azure-cli"/>
	<package id="terraform"/>
	<package id="kubernetes-cli"/>
	<package id="kubernetes-helm"/>
	<package id="docker-desktop"/>
	<package id="signal"/>
	<package id="microsoftazurestorageexplorer"/>
	<package id="whatsapp"/>
	<package id="qbittorrent"/>
	<package id="fiddler"/>
	<package id="speedtest"/>
	<package id="cpu-z"/>
	<package id="starship"/>
	<package id="icloud"/>
	<package id="sysinternals"/>
	<package id="powertoys"/>
	<package id="googledrive"/>
	<package id="google-workspace-sync"/>
	<package id="obsidian"/>
	<package id="rufus"/>
	<package id="advanced-ip-scanner"/>
	<package id="brave"/>
	<package id="geforce-experience"/>
	<package id="geforce-game-ready-driver"/>
</packages>
