 <?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adobereader"/>
	<package id="googlechrome"/>
	<package id="firefox" parameters="/NoTaskbarShortcut /NoDesktopShortcut /RemoveDistributionDir"/>
	<package id="vlc"/>
	<package id="7zip"/>
	<package id="notepadplusplus"/>
	<package id="git"/>
	<package id="googledrive"/>
	<package id="sysinternals"/>
	<package id="vscode"/>
	<package id="pdfcreator"/>
	<package id="spotify"/>
	<package id="putty"/>
	<package id="winscp"/>
	<package id="gsuite-sync-outlook"/>
	<package id="wireshark"/>
	<package id="powertoys"/>
	<package id="azure-cli"/>
	<package id="brave"/>
	<package id="procexp"/>
	<package id="whatsapp"/>
	<package id="procmon"/>
	<package id="vnc-viewer"/>
	<package id="rufus"/>
	<package id="fiddler"/>
	<package id="speedtest"/>
	<package id="cpu-z"/>
	<package id="nmap"/>
	<package id="obs-studio"/>
	<package id="forticlientvpn"/>
	<package id="nerdfont-hack"/>
	<package id="advanced-ip-scanner"/>
	<package id="obsidian"/>
	<package id="google-workspace-sync"/>
	<package id="starship"/>
</packages>